.env
.DS_Store
tmp/

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

## Terraform
.terraform
.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
